h1{
    color: #1746A2;
    font-size: 45px;
}

/* 3x3 grid */
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
    width: 80px;
    height: 75px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align:center;
}

/*Reset Button */
#but{
    box-sizing:border-box;
    width: 95px;
    height: 40px;
    border: 1px solid gray;
    margin:auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FF731D;
    color:white;
    font-size: 20px;
    cursor: pointer;
}

/*Players turn*/
#print {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF731D ;
    font-size: 20px;
}


#main{
    text-align: center;
}

/*game instructions*/
#ins{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color:#5F9DF7;
    font-size: 17px;
}

body{
    background-color: #DFF6FF;
}